.button {
    background-color: #6f00ff;;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}