.App {
    width: 800px;
    height: 1000px;
    background-color: #ffffff;
    box-shadow:  0 0 50px 0 #666666;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

.App .todo__header__filter {
    display: flex;
}

.App .todo__header__filter-search {
    width: 100%;
    margin-right: 20px;
}

.App .todo__header__filter-select {
    width: 280px;
}





.App .todo__content {
    flex: 1 0 auto;
    max-height: 690px;
    margin: 40px 0;
    padding: 0 100px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #6f00ff #e9e9e9;
}

.App .todo__content__item {
    display: flex;
    height: 65px;
    align-items: center;
    border-bottom: 1px solid #6f00ff;
    padding: 12px 0;
    cursor: pointer;
}

.App .todo__content__item-label {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

.App .todo__content__item-btn {
    display: none;
}

.App .todo__content__item-btn:first-of-type {
    margin-left: auto;
}

.App .todo__content__item:hover .todo__content__item-btn {
    display: flex;
}





.App .todo__footer {
    flex: 0 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
}

.App .todo__footer .todo__footer__addBtn {
    border-radius: 50%;
}